html, body {
    height: 100%;
    margin: 0;
}

header {
    text-align: center;
    font-family: Nunito;
    margin-top: 15px;
    font-size: 20px;
}

#login-form {
    margin: 0 50px 0 50px;
}